.main-body {
    max-width: 1550px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    @media screen and (max-width: 758px) {
      background-color: red;
      background: red !important;
    }
  }